body {
    background-color: #FAFBFC;
}

#navigation-bar {
    display: none;
}

#recipe-display {
    display: none;
}

#recipe-form {
    display: none;
}

#create-user-form {
    display: none;
}

#display-recipe-ingredients {
    display: none;
}

#ingredient-list li {
    list-style-type: none;
}